/*Este es un comentario de CSS*/
/*Los comentarios de CSS no se renderizan en la página*/
/*Todas las declaraciones de estilo se encuentran en el CSS, el HTML es para contenido únicamente*/

/*Importar tipografía de google fonts vía @import (sin etiquetas <style>)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@800&family=Space+Grotesk:wght@400;500&display=swap');
/*Esto me permite utilizar la tipografía en todo el contenido de body. Como standard vamos a usar la 100*/

/*Reseteo de márgenes de todos los elementos para todos los navegadores*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    /*Declaración de tipografía*/
    font-family: 'Poppins', sans-serif;
    /*Declaración de peso de Tipografía*/
    font-weight: 200;
    /*Declaración de color de fondo del body*/
    background-color: black;
    /*Declaración del color de la tipografía en el body*/
    color: white;
}

/*ESTILOS DE CUADRADOS DE COLORES*/

/*Este es un id único en el HTML, representado por #nombre*/
/*Este color está declarado en #Hex*/
#color1 {
    background-image: url(/media/campeones.png);
    border-radius: 20px;
}

/*ESTILOS DE BARRA DE NAVEGACIÓN*/
nav {
    /*Color de texto declarado en #Hex*/
    color: #ffffff;
    background-color:#2b2b2b;
    opacity: 80%;}

/*ESTILOS LINKS EN BARRA DE NAVEGACIÓN*/
nav a{
    /*Color te texto*/
    color: #ffffff;
    /*Decoración de texto: subrayado | tachado | etc.*/
    text-decoration: none;
    /*Tipografía*/
    font-family: 'Poppins', sans-serif;
    /*Peso de la tipografía (tiene que estar linkeada la variable)*/
    font-weight: 600;
    /*Espaciado interno*/
    padding: 25px 60px 0px;
    /*Tiempo de transición animaciones de hover (mirar abajo)*/
    transition:  color 1s;
    /*Transformar texto a Mayúsculas*/
}

/*Cambios al pasar el mouse sobre el elemento (hover)*/
nav a:hover{
    /*Cambio de color*/
    color: #efb810;
}

/*ESTILOS LOGO BARRA DE NAVEGACIÓN*/
#logo img{
    /*Altura de imagen relativa al espacio disponible: "100% del espacio"*/
    height: 80%;
    /*Altura máxima que puede alcanzar la imagen: 80px*/
    max-height: 80px;
    /*Posicionamiento 10px abajo de dónde debería estar*/
    position: relative;
    top: 10px;
}

/*ESTILOS DE BANNER*/
.banner {

    /*Imagen de fondo*/
    background-image: url(media/background_first2.jpg);
    /*Posición del fondo x|y*/
    background-position: center;
    /*¿Repetir fondo? (tramas)*/
    background-repeat: no-repeat;
    /*Tamaño de fondo: cubrir todo el espacio*/
    background-size: cover;
    /*Ancho: cubrir el 100%*/
    width: 100%;
    /*Alto: cubrir el 100% de la pantalla que o visualiza*/
    height: 100vh;

}

.banner_info {
    /*Color de texto*/
    color: white;
    /*Centrar texto*/
    text-align: center;
    /*Transformar texto a mayúsuclas*/
    /*Sombra: offset-x | offset-y | blur-radius | color */
    /*Espaciado interior*/
    padding: 20% 20% 100px 20%;

}

/*ESTILOS DEL BOTON*/
.btn {
    /*Color de fondo*/
    background-color: #efb810;
    /*Color de tipografía*/
    color: white;
    /*Decoracion del texto*/
    text-decoration: none;
    /*Alineación del texto*/
    text-align: center;
    /*Borde redondeado*/
    border-radius: 5px;
    /*Tamaño de fuente*/
    font-size: 0.8rem;
    /*Tipografía*/
    font-family: 'Poppins', sans-serif;
    /*Peso de la tipografía (tiene que estar linkeada la variable)*/
    font-weight: 600;
    /*Espaciado interno*/
    padding: 10px 20px;
    /*Cambios al hover por tiempo (1s)*/
    transition: all 1s;
}

/*Al pasar el mouse por arriba*/
.btn:hover {
    /*Cambio de color de fondo*/
    background-color: #2b2821;
}

/*ESTRUCTURA de la plantilla | Tocar bajo su propio riesgo*/
.col{display:flex;flex-flow:column nowrap;justify-content:center;align-content:center}
.colb{display:flex;flex-flow:column nowrap;justify-content:flex-end;align-content:center}
.row{display:flex;flex-flow:row nowrap;justify-content:center;align-content:center}
nav{position:absolute;top:0;width:100%; height: 70px;}
.colores{display:flex;flex-flow:row nowrap;justify-content:center;align-items:center}
.color{width: 100%;height:200px;display:flex;flex-flow:row nowrap;justify-content:center;align-items:flex-start}
h1{margin:5% 5% 2% 5%;font-family: 'Poppins', sans-serif; font-weight: 600;}
p{margin:0% 5% 5% 5%;font-family: 'Poppins', sans-serif; font-weight: 300;}
.icon{width: 33%;}@media only screen and (max-width:600px)
{nav a{display:none}}
